@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300i,400,700';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: var(--Palette4);
}

html {
  width: 100vw;
  overflow-x: hidden;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--Palette1) 0%, var(--Palette2) 33%, var(--Palette3) 66%, var(--Palette4) 100%);
  transition: all .5s ease-out;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--Palette1) 25%, var(--Palette2) 0, var(--Palette2) 50%, var(--Palette3) 0, var(--Palette3) 75%, var(--Palette4) 0);
}

/* END SCROLLBAR */

:root {
  --PaletteGrey: #0c0c0c;
  --Palette1: #E3B8AA;
  --Palette2: #DE7254;
  --Palette3: #2FC6A8;
  --Palette4: #c22085;
  --Palette5: #e9b171;
  --Palette6: #011638;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--PaletteGrey);
  font-family: sans-serif;
  color: white;
}

button {
  background-color: var(--PaletteGrey);
  padding: .75rem 1.5rem;
  color: white;
  font-family: inconsolata, monospace;
  letter-spacing: 1.2px;
  font-size: 1rem;
}

button:hover {
  transform: translateY(2px);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
header {
  position: sticky;
  top: -12%;
  z-index: 99;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  background-color: var(--PaletteGrey);

  background: rgba(12, 12, 12, 0.1);
  backdrop-filter: blur(1rem);
}

.logo {
  width: 120px;
  margin: 1rem auto 0 auto;
  display: block;
}


#th-logo-svg path {
  fill: white;
}

#taylor-hakes {
  text-align: center;
  font-family: inconsolata, monospace;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* NAV */
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: inconsolata, monospace;
}

nav ul li:hover {
  cursor: pointer;
}

.aboutActive {
  color: var(--Palette3);
}

.portfolioActive {
  color: var(--Palette2);
}

.contactActive {
  color: var(--Palette4);
}

.resumeActive {
  color: var(--Palette5);
}

/* END NAV */
/* END HEADER */


/* PORTAL SCENE */
#portal-scene {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 1rem auto;
  display: block;
}

.socials-about {
  fill: var(--Palette5);
  transition: fill .5s;
}

.socials-about:hover {
  fill: var(--Palette3);
}

#github-about {
  animation: hover 1.5s forwards infinite ease-in-out;
}

#spotify-about {
  animation: hover 1.6s forwards infinite ease-in-out;
}

#linkedin-about {
  animation: hover 1.4s forwards infinite ease-in-out;
}

@keyframes hover {
  50% {
    transform: translateY(15px);
  }
}

#portal {
  transform-origin: center;
  -webkit-transform-origin: center;
  stroke: var(--Palette3);
  stroke-width: 30;
}

/* END PORTAL SCENE */

.ctaBtn {
  border: 1px solid var(--Palette3);
  margin: 1.5rem auto;
  display: block;
}

.ctaBtn:hover {
  box-shadow: 0px 0px 7px var(--Palette3);
}

/* ABOUT TEXT */
.about-text2, .about-text3, .about-text4 {
  margin: 0 1.5rem 1rem 1.5rem;
}

.about-text1 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.about-text2, .about-text3, .about-text4 {
  font-family: open sans, sans serif;
  font-size: .9rem;
}

.about-text1, .about-text4 {
  color: var(--Palette3);
}

.about-text2, .about-text3 {
  color: var(--Palette5);
}

/* END ABOUT TEXT */

/* PROJECT CARDS */
#project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  border: 1px solid var(--Palette2);
  width: 90%;
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.project-title {
  font-weight: 500;
  letter-spacing: .15rem;
  font-size: 1.2rem;
  font-family: inconsolata, monospace;
  text-align: center;
}

.project-techlist {
  font-weight: 500;
  font-size: 1rem;
  font-family: inconsolata, monospace;
  text-align: center;
  color: var(--Palette2);
}

.project-content {
  margin: 1rem;
}

.project-footer {
  margin-top: 1rem;
}

.project-footer a {
  color: var(--Palette2);
}

.project-description {
  margin-top: 1rem;
  font-size: .85rem;
  letter-spacing: .03rem;
  line-height: 1.5;
}

.project-img-wrap {
  margin-top: 1rem;
}

.mockup {
  width: 65%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.laptopMockup {
  width: 90%;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

/* END PROJECT CARDS */

/* CONTACT */
#contactSection {
  font-family: inconsolata, monospace;
}

#contactSection h2 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: 300;
  color: var(--Palette4);
}

.email-block {
  text-align: center;
  min-height: 15vh;
  overflow: hidden;
}

.email-address {
  font-size: 2.25rem;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  font-weight: 350;
  transition: all .25s ease-in-out;
  color: white;
  text-decoration: none;
}

.email-address:hover~.email-domain, .email-domain:hover {
  border-bottom: 1px solid white;
}

.email-domain {
  line-height: .5;
  border-bottom: 1px solid var(--Palette4);
}

.error-text {
  margin-bottom: 1rem;
  color: var(--Palette4);
}

/* FORM */
#contactForm {
  width: 80%;
  max-width: 850px;
  margin: 1rem auto;
}

#contactForm label {
  color: white;
}

#contactForm .inputWrap {
  position: relative;
  margin-bottom: 2rem;
  top: 0
}

input[type=text],
input[type=number],
input[type=email],
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--Palette4);
  background: 0 0;
  display: block;
  margin: 0 auto;
  font-family: inconsolata, monospace;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0
}

textarea {
  height: 5em;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
#contactForm textarea:focus {
  border: none;
  border-bottom: 1px solid var(--Palette4);
  outline: none
}

#contactForm input:focus~label,
#contactForm textarea:focus~label {
  color: var(--Palette4)
}

#contactForm button {
  border: var(--Palette4) 1px solid;
}

#contactForm button:hover {
  box-shadow: 0px 0px 7px var(--Palette4);
}

/* END FORM */
/* END CONTACT */

/* RESUME */
#resumeSection {
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}

#resumeSection button {
  border: var(--Palette5) 1px solid;
  margin-top: 1.5rem;
}

#resumeSection button:hover {
  box-shadow: 0px 0px 7px var(--Palette5);
}

.palette3Span {
  color: var(--Palette3);
}

.palette2Span {
  color: var(--Palette2);
}

.palette4Span {
  color: var(--Palette4);
}

.palette1Span {
  color: var(--Palette1);
}

.techSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proficiencyCard {
  box-shadow: inset 0px 0px 7px rgba(25, 25, 25, 1);
  width: 90%;
  margin-top: 2rem;
  padding: 1.25rem;
  width: 90%;
}

.proficiencyCard:hover {
  box-shadow: 0px 0px 7px rgba(25, 25, 25, 1);
}

.proficiencyCard h2 {
  margin-bottom: .5rem;
}

.proficiencyCard li {
  list-style: none;
}

#resumeSection h2 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 300;
  color: var(--Palette5);
}

#resumeSection h3 {
  font-family: open sans;
  font-style: italic;
  font-size: .9rem;
  font-weight: 300;
  color: var(--Palette5);
}

/* END RESUME */

/* FOOTER */
footer {
  padding: 50px 0 20px 0;
  border-top: 1px solid var(--Palette1);
  position: relative;
  margin-top: 7rem;
}

#backtotop-icosa {
  width: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--PaletteGrey);
}

#backtotop-frame {
  stroke-width: 20px;
}

#backtotop-arrow {
  fill: transparent;
  stroke-width: 20px;
  /* animation: double-bounce 3s ease-in forwards infinite; */
}

/* #backtotop-icosa:hover>#backtotop-arrow {
  animation: bounce .5s ease forwards infinite;
} */

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-14%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes double-bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(0%);
  }

  62.5% {
    transform: translateY(-14%);
  }

  75% {
    transform: translateY(0%);
  }

  87.5% {
    transform: translateY(-14%);
  }

  100% {
    transform: translateY(0%);
  }
}

.socials-block {
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer h5 {
  font-size: 14px;
  color: white;
  font-weight: 300;
  text-align: center;
}

.footer-socials {
  width: 32px;
  margin: 0 5px;
  transition: all .25s ease-in-out;
}

.footer-socials:hover {
  fill: white;
  margin: 0 10px;
}

#copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

/* END FOOTER */

/*  */

/*  */

/*  */

/* MEDA QUERIES */

/*  */

/*  */

/*  */

@media screen and (min-width: 580px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 950px) {
  html {
    font-size: 24px;
  }

  nav ul li {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 28px;
  }

  .main-wrap {
    width: 70%;
    margin: 0 auto;
  }

  #taylor-hakes {
    margin-top: 1.5rem;
  }

  .logo {
    position: fixed;
    left: -17%;
    top: 0;
    margin: initial;
  }

  header {
    position: initial;
    top: initial;
    z-index: initial;
    padding-bottom: 1rem;
    margin-bottom: initial;
    
    background: initial;
    backdrop-filter: blur(1rem);
  }
  
  #nav {
    position: fixed;
    top: 0;
    right: -17%;
    height: 20vh;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  nav ul li {
    text-align: justify;
  }

  .aboutActive,
  .portfolioActive,
  .contactActive,
  .resumeActive {
    font-size: 1.75rem;
    letter-spacing: 2px;
  }

  .project-card {
    width: 48%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }

  .email-block {
    text-align: center;
    min-height: 20vh;
    overflow: hidden;
  }

  .techSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .proficiencyCard {
    width: 49%;
  }
}