@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300i,400,700';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: var(--Palette4);
}

:root {
  --PaletteGrey: #0c0c0c;
  --Palette1: #E3B8AA;
  --Palette2: #DE7254;
  --Palette3: #2FC6A8;
  --Palette4: #c22085;
  --Palette5: #e9b171;
  --Palette6: #011638;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--PaletteGrey);
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.logo {
  width: 15%;
  margin: 1rem auto 0 auto;
  display: block;
}


#th-logo-svg path {
  fill: var(--Palette1);
}

#taylor-hakes {
  color: var(--Palette1);
  text-align: center;
  font-family: inconsolata, monospace;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* NAV */
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: inconsolata, monospace;
  margin-bottom: 3rem;
}

nav ul li:hover {
  cursor: pointer;
}

.aboutActive {
  color: var(--Palette3);
}
.portfolioActive {
  color: var(--Palette2);
}
.contactActive {
  color: var(--Palette4);
}
.resumeActive {
  color: var(--Palette5);
}
/* END NAV */
/* END HEADER */


/* PORTAL SCENE */
#portal-scene {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 1rem auto;
  display: block;
}

.socials-about {
  fill: var(--Palette5);
  transition: fill .5s;
}

.socials-about:hover {
  fill: var(--Palette4);
}

#github-about.animate-hover {
  animation: hover 1.5s forwards infinite ease-in-out;
}

#spotify-about.animate-hover {
  animation: hover 1.6s forwards infinite ease-in-out;
}

#linkedin-about.animate-hover {
  animation: hover 1.4s forwards infinite ease-in-out;
}

@keyframes hover {
  50% {
    transform: translateY(15px);
  }
}

#portal {
  transform-origin: center;
  -webkit-transform-origin: center;
  stroke: var(--Palette3);
  stroke-width: 30;
}

/* END PORTAL SCENE */

/* ABOUT TEXT */
.about-text2, .about-text3, .about-text4 {
  margin: 0 1.5rem 1rem 1.5rem;
}

.about-text1 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.about-text2, .about-text3, .about-text4 {
  font-family: open sans, sans serif;
  font-size: .9rem;
}

.about-text1, .about-text4 {
  color: var(--Palette3);
}

.about-text2, .about-text3 {
  color: var(--Palette5);
}
/* END ABOUT TEXT */

/* PROJECT CARDS */
#project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  border: 1px solid var(--Palette2);
  width: 90%;
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.project-title {
  font-weight: 500;
  letter-spacing: .15rem;
  font-size: 1.2rem;
  font-family: inconsolata, monospace;
  text-align: center;
}

.project-techlist {
  font-weight: 500;
  font-size: 1rem;
  font-family: inconsolata, monospace;
  text-align: center;
  color: var(--Palette2);
}

.project-content,
.project-content-odd {
  margin: 1rem;
}

.project-footer {
  margin-top: 1rem;
}

.project-footer a {
  color: var(--Palette2);
}

.project-description {
  margin-top: 1rem;
  font-size: .85rem;
  letter-spacing: .03rem;
  line-height: 1.5;
}

.project-img-wrap {
  margin-top: 1rem;
}

.mockup {
  width: 65%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.laptopMockup {
  width: 90%;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}
/* END PROJECT CARDS */

/* CONTACT */
#contact-section {
  font-family: inconsolata, monospace;
}

#contact-section h2 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: 300;
  color: var(--Palette4);
}

.email-block {
  text-align: center;
  min-height: 15vh;
  overflow: hidden;
}

.email-address {
  font-size: 2.25rem;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  font-weight: 350;
  transition: all .5s ease-in-out;
  color: white;
  text-decoration: none;
}

.email-address:hover~.email-domain, .email-domain:hover {
  border-bottom: 1px solid var(--Palette3);
}

.email-domain {
  line-height: .5;
  border-bottom: 1px solid var(--Palette4);
}

/* FORM */
#contactForm {
  width: 80%;
  margin: 1rem auto;
}

#contactForm label {
  display: none;
}

#contactForm .inputWrap {
  position: relative;
  margin-bottom: 2rem;
  top: 0
}

#contactForm .styledLabel {
  text-transform: uppercase;
  position: absolute;
  top: -.2em;
  pointer-events: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}

#contactForm .styledLabel:after {
  display: inline-block;
  content: attr(data-text);
  pointer-events: none
}

input[type=text], input[type=number], input[type=email], textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--Palette4);
  background: 0 0;
  display: block;
  margin: 0 auto;
  font-family: inconsolata, monospace;
  font-size: 25px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0
}

textarea {
  height: 4em
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, #contactForm textarea:focus {
  border: none;
  border-bottom: 1px solid var(--Palette4);
  outline: none
}

#contactForm input:focus~.styledLabel, #contactForm textarea:focus~.styledLabel, .inputNotEmpty .styledLabel {
  top: -1.4em;
  font-size: .8rem;
  color: var(--Palette4)
}
/* END FORM */
/* END CONTACT */

/* RESUME */
.palette3Span {
  color: var(--Palette3);
}
.palette2Span {
  color: var(--Palette2);
}
.palette4Span {
  color: var(--Palette4);
}
.palette1Span {
  color: var(--Palette1);
}

#resumeSection {
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}

#resumeSection h2 {
  font-family: open sans;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 300;
  color: var(--Palette5);
  margin-top: 1.5rem;
}

#resumeSection h3 {
  font-family: open sans;
  font-style: italic;
  font-size: .9rem;
  font-weight: 300;
  color: var(--Palette5);
}
/* END RESUME */
